<section class="tv-shows">
  <div class="main">
    <h1>Mistral TV Shows</h1>
    <hr />
    <!-- Top 10 -->
    <ul *ngIf="!searchLength && !loader" class="cards">
      <li *ngFor="let tvShow of topRatedTv" class="cards_item">
        <a
          [routerLink]="['/tv-details/' + tvShow.id]"
          routerLinkActive="router-link-active"
        >
          <div class="card">
            <div class="card_image">
              <img
                *ngIf="tvShow?.poster_path"
                src="https://image.tmdb.org/t/p/w500/{{ tvShow.poster_path }}"
                [alt]="tvShow.title ? tvShow.title : tvShow.name"
              />
              <img
                *ngIf="!tvShow?.poster_path"
                src="assets/images/default-movie.jpg"
                [alt]="tvShow.title ? tvShow.title : tvShow.name"
              />
            </div>
            <div class="card_content">
              <h2 class="card_title">{{ tvShow.name }}</h2>
              <p class="card_text">
                The First Air Date: {{ tvShow.first_air_date }}
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <!-- Searched -->
    <ul *ngIf="searchLength && !loader" class="cards">
      <li *ngFor="let tvShow of searchTV" class="cards_item">
        <a
          [routerLink]="['/tv-details/' + tvShow.id]"
          routerLinkActive="router-link-active"
        >
          <div class="card">
            <div class="card_image">
              <img
                *ngIf="tvShow?.poster_path"
                src="https://image.tmdb.org/t/p/w500/{{ tvShow.poster_path }}"
                [alt]="tvShow.title ? tvShow.title : tvShow.name"
              />
              <img
                *ngIf="!tvShow?.poster_path"
                src="assets/images/default-movie.jpg"
                [alt]="tvShow.title ? tvShow.title : tvShow.name"
              />
            </div>
            <div class="card_content">
              <h2 class="card_title">{{ tvShow.name }}</h2>
              <p class="card_text">
                The First Air Date: {{ tvShow.first_air_date }}
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <!-- No Results -->
    <div
      *ngIf="searchLength && searchTV.length == 0 && !loader"
      class="container"
    >
      <div class="cards-list">
        <h3>No Results Found</h3>
      </div>
    </div>
    <!-- Loading -->
    <div *ngIf="loader" class="container loader">
      <div class="cards-list">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div *ngIf="!searchLength" class="red-button" (click)="loadMoreTVShows()">
    <a>
      <p>
        <span class="bg"></span><span class="base"></span
        ><span class="text">Load More</span>
      </p>
    </a>
  </div>
</section>
