<!-- Login/Logout -->
<div>
  <h1>Welcome to Mistral Movies & TV Shows</h1>
  <div *ngIf="!token" class="red-button" (click)="login()">
    <a>
      <p>
        <span class="bg"></span><span class="base"></span
        ><span class="text">Login</span>
      </p>
    </a>
  </div>
</div>
<div *ngIf="token" class="red-button" (click)="logout()">
  <a>
    <p>
      <span class="bg"></span><span class="base"></span
      ><span class="text">Logout</span>
    </p>
  </a>
</div>
<!-- Login/Logout -->
<!-- Main Content -->
<div *ngIf="token">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
<!-- Main Content -->
